@charset "UTF-8";
/*设置默认编码集*/

/*css 初始化 start */

html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

/*各浏览器显示不同，去掉边框等默认样式*/
fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

/*防止拖动 影响布局*/
textarea {
    resize: none;
}

/*去掉行内替换元素空白缝隙*/
img {
    border: 0;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53"; 
    font-family: "微软雅黑";
    color: #666;/*主体色*/
    background: #fff;
}

/*清除浮动*/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    text-decoration: none;
    color: #444;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #444;
}

a:hover {
    text-decoration: none;
    color: #444;
}

a:active {
    text-decoration: none;
    outline: none;
}

/* h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
} */

/*废物利用*/
s, i, em {
    font-style: normal;
    text-decoration: none;
}

/*项目主体色*/
.col-red {
    color: #C81623 !important;
}

/*公共类*/
.container {
    /*版心 提取 */
    max-width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.al {
    text-align: left;
}

.ac {
    text-align: center;
}

.ar {
    text-align: right;
}

.hide {
    display: none;
}
/*css 初始化 end */

/*主页部分*/


/*头部开始*/
.header {
    height: 80px;
    line-height: 80px;
}

.header .top-logo img {
    width: 210px;
    margin-bottom: 3px;
}

.header .top-nav-ul li {
    float: left;
}

.header .top-nav-ul span {
    float: left;
    height: 18px;
    width: 1px;
    border-right: 1px solid #dfdfdf;
    margin-top: 31px;
}

.header .top-nav-ul i {
    margin-left: 3px;
    font-weight: 200;
}

.header .top-nav-ul > li > a {
    display: inline-block;
    padding: 0 32px;
    height: 100%;
    font-size: 16px;
    color: #222;
}

.header .top-nav-ul li a:hover {
    color: #e60012;
}

.header .top-nav-ul li a.active {
    color: #e60012;
}
.header .top-nav-ul .dropdown-menu li a {
   
}
.header .top-nav-ul .dropdown-menu {
    top: 55px;
    border-width: 0;
    width: 110px;
    min-width: 110px;
    left: 20px;
}
.header .top-nav-ul .dropdown li{
    height: 30px;
    line-height: 30px;
    padding-top: 10px;
}
.header .top-nav-ul .dropdown li:first-child {
    border-top: 1px solid #e60012;   
}

.header .top-nav-ul .dropdown-menu li a {
    padding: 0 27px;
}
.flex-nav .top-nav-ul .dropdown-menu {
    top: 35px;
}
/*头部结束*/

/*导航栏开始*/
.header-con .col-sm-5 {
    width: 30%;
}
.header-con .col-sm-7 {
    width: 70%;
}
.header .top-nav-ul li a:hover {
    background-color: #fff;
}
.banner {
    position: relative;
    overflow: hidden;
}

.banner .banner-content video {
    width: 100%;
}

.banner .banner-content .banimg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
    opacity: 0;
}

.video-fi {
    display: none;
}


/*glory开始*/
.glory {
    width: 100%;
    padding: 10px 0;
    background-color: rgba(242,242,242,.4);
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 101;
    margin: 0 auto;
}

.glory div {
    font-size: 16px;
    color: #222;
    line-height: 32px;
    padding-left: 0 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.glory p {
    padding-left: 8px;
    border-right: 1px solid #dfdfdf;
    padding-right: 30px;
}

.glory div .glory-logo {
    width: 60px;
} 

/*glory结束*/

/*最新资讯开始*/
.news-info .info-title h2 {
    font-size: 27px;
    color: #222;
}

.news-info > .container > .row {
    padding: 25px 0 20px 0;
}

.news-info .info-content {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

.news-info .news {
    padding: 0;
}

.news-info .info-content .info-img img {
    transition: all 1s ease;
}

.news-info .info-content .info-img img:hover {
    box-shadow: 2px 5px 10px #ccc;
    transform: scale(1.05);
    // transform: rotate(360deg);
}

.news-info .info-content .info-img img{
    float: left;
    max-width: 160px;
    height: 110px;
}

.news-info .info-content .info-text {
    float: left;
    max-width: 400px;
    margin-left: 15px;
    transition: all 500ms ease;
}

.news-info .info-content .info-text:hover{
    margin-left: 13px;
}

.news-info .info-content .info-text:hover p {
    color: #e60012;
}

.news-info .info-content .info-text p {
    font-size: 16px;
    color: #222;
    margin-bottom: 10px;
}


.news-info .info-content .info-text div {
    font-size: 14px;
    color: #666;
    line-height: 30px;
}

..news-info .info-line {
    width: 580px;
    height: 12px;
    border-bottom: 1px solid yellow;
}


.news-info .media-video {
    cursor: pointer;
    position: relative;
}

.news-info .media-video .media-video-ad{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translateX(-50%) translateY(-50%);
    display: none;
}
.news-info .info-content:last-child {
    border-width: 0;
}
/*最新资讯结束*/

/*媒体视频开始*/
.news-video .info-title {
    margin-bottom: 20px;
}

.news-video .video-info h2 {
    color: #222;
    font-size: 16px;
    margin-top: 18px;
    text-align: center;
    margin-bottom: 5px;
}

.news-video .video-info .video-text {
    font-size: 14px;
    color: #666;
    line-height: 30px;
    text-align: center;
}
/*媒体视频开始*/

/*底部开始*/
.footer {
    height: 190px;
    padding-top: 10px;
    background-color: #f2f2f2;
}

/*.footer .footer-content {
    border-bottom: 1px solid #dfdfdf;
}*/
.footer .footer-line {
    margin-top: 10px;
    height: 1px;
    border-bottom: 1px solid #dfdfdf;
}

.footer .bottom-logo {
    margin-top: 36px;
}

.footer .about-us  ul{
    float: right;
    margin-right: 100px;
}

.footer .contact-us ul{
    float: right;
}

.footer .bottom-title{
    color: #222;
    font-size: 16px;
    line-height: 36px;
    border-bottom: 1px solid #dfdfdf;
}

.footer li {
    font-size: 16px;
    color: #666;
    line-height: 30px;
}

.footer .copyright {
    margin-top: 10px;
}

.footer .copyright span:nth-child(1) {
    font-size: 14px;
    color: #9f9f9f;
    float: left;
}

.footer .copyright span:nth-child(2) {
    color: #e60012;
    font-size: 14px;
    float: right;
}

/*底部结束*/

/*固定导航栏开始*/
.flex-nav {
    height: 50px;
    line-height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    display: none;
    border-bottom: 1px solid #dfdfdf;
}

.flex-nav .fixed-logo img {
    width: 180px;
    margin-bottom: 4px;
}

.flex-nav .top-nav span {
    margin-top: 15px;
}

/*固定导航栏结束*/ 








/***================  响应式  ================***/

@media screen and (max-width:767px) {
    .navbar-header {
        background-color: #fff; 
    }
    .header {
        height: 51px;
        line-height: 51px;
    }
    .container {
        width: 100%;
        padding: 0;
    }
    .row {
        margin: 0;
    }
    .container .top-logo img {
        width: 75%;
    }
    .banner-content img {
        width: 100%;
    }
    .glory p {
        padding-right: 0;
        display: inline-block;
        width: 70%;
    } 
    .top-logo {
        display: none;  
    }
    .glory {
        display: none;
    } 
    .top-nav {
        display: none;
    }
    .header .top-nav-ul li a {
        padding: 0 10px;
    }
    .news-info .info-title h2 {
        text-align: center;
    }

    .news-info .news {
        padding-left: 10px;
    }

    .news-info > .container > .row {
        padding: 20px 0 20px 0;
    }
    .info-img {
        width: 34%;
    }
    .info-img > a {
        float: left;
    }
    .info-text {
        float: right;
    }
    .news-info .info-content .info-img img {
        width: 100%;
    }
    .news-info .info-content .info-text {
        width: 60%;
    }
    .footer .about-us {
        display: none;
    }
    .contact-us {
        display: none;
    }
    .footer {
        padding: 0;
        height: 110px;
    }
    .footer .bottom-logo {
        margin-top: 0;
        text-align: center;
        padding: 17px 0;
    }
    .copyright span {
        padding: 0 15px;
    }
    .news-info .info-content .info-text div {
        line-height: 20px;
    }
    .news-video .info-title {
        margin-bottom: 0;
        margin-top: 10px;
    }
    #infoVideo {
        height: 220px !important;
    }
    .news-info .info-content .info-text div {
        font-size: 12px;
    }
    .visible-xs {
        display: block !important;
    }
    .bottom-logo img {
        width: 45%;
    }
    .footer .footer-line {
        margin-top: 0;
    }

    /*暂停图标*/ 
    .news-info .media-video .media-video-ad {
        width: 40px;
        height: 40px;
        top: 55%;
    }
 
}

/*动画*/
// @-webkit-keyframes bounce {
//   from, 20%, 53%, 80%, to {
//     -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
//     animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
//     -webkit-transform: translate3d(0,0,0);
//     transform: translate3d(0,0,0);
//   }

//   40%, 43% {
//     -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
//     animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
//     -webkit-transform: translate3d(0, -10px, 0);
//     transform: translate3d(0, -10px, 0);
//   }

//   70% {
//     -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
//     animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
//     -webkit-transform: translate3d(0, -6px, 0);
//     transform: translate3d(0, -6px, 0);
//   }

//   90% {
//     -webkit-transform: translate3d(0,-2px,0);
//     transform: translate3d(0,-2px,0);
//   }
// }

// @-moz-keyframes bounce {
//   from, 20%, 53%, 80%, to {
//     -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
//     animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
//     -webkit-transform: translate3d(0,0,0);
//     transform: translate3d(0,0,0);
//   }

//   40%, 43% {
//     -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
//     animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
//     -webkit-transform: translate3d(0, -10px, 0);
//     transform: translate3d(0, -10px, 0);
//   }

//   70% {
//     -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
//     animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
//     -webkit-transform: translate3d(0, -6px, 0);
//     transform: translate3d(0, -6px, 0);
//   }

//   90% {
//     -webkit-transform: translate3d(0,-2px,0);
//     transform: translate3d(0,-2px,0);
//   }
// }

// @keyframes bounce {
//   from, 20%, 53%, 80%, to {
//     -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
//     animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
//     -webkit-transform: translate3d(0,0,0);
//     transform: translate3d(0,0,0);
//   }

//   40%, 43% {
//     -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
//     animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
//     -webkit-transform: translate3d(0, -10px, 0);
//     transform: translate3d(0, -10px, 0);
//   }

//   70% {
//     -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
//     animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
//     -webkit-transform: translate3d(0, -6px, 0);
//     transform: translate3d(0, -6px, 0);
//   }

//   90% {
//     -webkit-transform: translate3d(0,-2px,0);
//     transform: translate3d(0,-2px,0);
//   }
// }

.ani{
    animation: bounce 3s linear infinite ;
    z-index: 100;
}