@charset "UTF-8";
html{font-size:62.5%;font-family:'helvetica neue',tahoma,arial,'hiragino sans gb','Simsun',sans-serif;} 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,hr{margin:0;padding:0;}
body{line-height:1.333;font-size:12px;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-family:arial,'hiragino sans gb','microsoft yahei','Simsun',sans-serif;}
li{list-style:none;}
a:link,a:visited{text-decoration:none;}

.container {padding: 0;}
.home-icon {width: 70%;}
.head-v3{position:relative;z-index:100;width:100%;}
.head-v3 .navigation-inner{margin:0 auto;width:100%;position:relative;}
.navigation-up{height:80px;background:#fff;line-height: 70px;}
.navigation-up .navigation-v3 li{float:left;font:normal 16px/59px "microsoft yahei";color:#fff;}
.navigation-up .navigation-v3 .nav-up-selected h2 a{color:red;}
.navigation-up .navigation-v3 .nav-up-selected-inpage{background:#202833;}
.navigation-up .navigation-v3 li h2{font-weight:normal;padding:0;margin:0;line-height: 79px;}
.navigation-up .navigation-v3 li h2 a{color:#444;display:inline-block;height:80px;font-family:"microsoft yahei";}

.navigation-down{position:absolute;top:60px;left:0px;width:100%;}
.navigation-down .nav-down-menu{width:100%;margin:0;background:rgba(255,255,255,0.5);position:absolute;top:10px;}
.navigation-down .nav-down-menu .navigation-down-inner{margin:auto;width:1200px;position:relative;}
.navigation-down .nav-down-menu dl{float:left;margin:18px 80px 18px 0;}
.navigation-down .menu-1 dl{margin:20px 80px 25px 0;}
.navigation-down .menu-1 dt{font:normal 16px "microsoft yahei";color:#444;padding-bottom:10px;border-bottom:1px solid red;margin-bottom:10px;}
.navigation-down .menu-1 dd a{color:#444;font:normal 14px/30px "microsoft yahei";}
.navigation-down .menu-1 dd a:hover{color:red;}

.nav-l1{margin-left: 405px !important;}
.nav-l2{margin-left: 550px !important;}